In [1]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**CONTAMINACIÃ“N**

In [2]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZXRpZGllcnNtaXRAZ21haWwuY29tIiwianRpIjoiMmY4NmU2YTUtMTk1NS00YmM0LTkwMmQtODhmOTRiMDcxODhmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1MjkxNTAsInVzZXJJZCI6IjJmODZlNmE1LTE5NTUtNGJjNC05MDJkLTg4Zjk0YjA3MTg4ZiIsInJvbGUiOiIifQ.3jrUDCnvi4-ay89n1inJgfjvqI6rkqPwecpAdCGaTJI"
headers = {"api_key": api_key}
url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/01"
response = requests.get(url_estacion, headers = headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/3da4f5f0',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/6235d58a'}

In [3]:
data = requests.get(response.json().get("datos")).text.split("\n")
data[0]

'29-10-2024 00:10 SO2(001): +00000.12 ug/m3 CV: V FC: 2.66 NO(007): +00000.07 ug/m3 CV: V FC: 1.248 NO2(008): +00001.00 ug/m3 CV: V FC: 1.91 O3(014): +00078.41 ug/m3 CV: V FC: 1.99 VEL(081): +00008.05 m/s CV: V FC: 1 DIR(082): +00109.08 GRA CV: V FC: 1 TEM(083): +00011.71 GC CV: V FC: 1 HUM(086): +00088.90 % CV: V FC: 1 PRE(087): +00912.00 hPa CV: V FC: 1 RAD(088): +00006.42 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [4]:
data[0][17:]

'SO2(001): +00000.12 ug/m3 CV: V FC: 2.66 NO(007): +00000.07 ug/m3 CV: V FC: 1.248 NO2(008): +00001.00 ug/m3 CV: V FC: 1.91 O3(014): +00078.41 ug/m3 CV: V FC: 1.99 VEL(081): +00008.05 m/s CV: V FC: 1 DIR(082): +00109.08 GRA CV: V FC: 1 TEM(083): +00011.71 GC CV: V FC: 1 HUM(086): +00088.90 % CV: V FC: 1 PRE(087): +00912.00 hPa CV: V FC: 1 RAD(088): +00006.42 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [5]:
dicc_data = {k : v for k, v in np.array(data[0][17:].split()).reshape(-1, 7)[:, :2]}
dicc_data["date"] = data[0][:17]
pd.json_normalize(dicc_data)

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date
0,+00000.12,+00000.07,+00001.00,+00078.41,+00008.05,+00109.08,+00011.71,+00088.90,+00912.00,+00006.42,+00000.00,+00000.00,29-10-2024 00:10

In [6]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZXRpZGllcnNtaXRAZ21haWwuY29tIiwianRpIjoiMmY4NmU2YTUtMTk1NS00YmM0LTkwMmQtODhmOTRiMDcxODhmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1MjkxNTAsInVzZXJJZCI6IjJmODZlNmE1LTE5NTUtNGJjNC05MDJkLTg4Zjk0YjA3MTg4ZiIsInJvbGUiOiIifQ.3jrUDCnvi4-ay89n1inJgfjvqI6rkqPwecpAdCGaTJI"
headers = {"api_key": api_key}

estaciones = ["11", "10", "09", "17", "14", "06", "08", "05", "16", "13", "01", "07", "12"]

df = pd.DataFrame()

for estacion in estaciones:
    url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/{estacion}"
    
    response = requests.get(url_estacion, headers = headers)
    
    data = requests.get(response.json().get("datos")).text.split("\n")
    
    def parsear_data(data, estacion):
    
        lista_dicc_data = list()
        
        for elemento in data:
            dicc_data = {k : v for k, v in np.array(elemento[17:].split()).reshape(-1, 7)[:, :2]}
            dicc_data["date"] = elemento[:17]
            lista_dicc_data.append(dicc_data)
            df_ = pd.json_normalize(lista_dicc_data)
            df_["estacion"] = estacion
    
        return df_
    
    df = pd.concat([df, parsear_data(data, estacion)], ignore_index = True)

df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,+00000.36,+00000.48,+00003.76,+00055.45,+00001.24,+00206.56,+00012.30,+00071.92,+00971.34,+00000.00,+00000.00,+00000.00,29-10-2024 00:10,11
1,+00000.32,+00000.47,+00003.45,+00057.21,+00001.36,+00071.31,+00012.54,+00072.92,+00971.16,+00000.00,+00000.00,+00000.00,29-10-2024 00:20,11
2,+00000.29,+00000.51,+00003.40,+00056.66,+00001.54,+00072.18,+00012.75,+00073.02,+00970.94,+00000.00,+00000.00,+00000.00,29-10-2024 00:30,11
3,+00000.30,+00000.44,+00003.27,+00058.06,+00002.40,+00044.98,+00013.14,+00072.36,+00970.82,+00000.00,+00000.00,+00000.00,29-10-2024 00:40,11
4,+00000.40,+00000.26,+00003.10,+00057.89,+00003.00,+00054.61,+00013.45,+00070.89,+00970.84,+00000.00,+00000.00,+00000.00,29-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,+00001.51,+00000.33,+00000.42,+00072.83,+00010.16,+00122.35,+00016.80,+00100.00,+00918.00,+00116.91,+00000.00,+00010.78,29-10-2024 15:30,12
1257,+00001.46,+00000.34,+00000.42,+00073.31,+00009.48,+00120.26,+00016.80,+00100.00,+00918.00,+00094.35,+00000.00,+00010.78,29-10-2024 15:40,12
1258,+00001.57,+00000.31,+00000.63,+00064.77,+00009.08,+00108.82,+00016.20,+00100.00,+00918.00,+00035.70,+00000.00,+00010.78,29-10-2024 15:50,12
1259,+00001.56,+00000.32,+00000.69,+00066.94,+00008.78,+00116.80,+00016.40,+00100.00,+00918.00,+00027.45,+00000.00,+00010.78,29-10-2024 16:00,12
1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,12

In [7]:
df.to_csv("contaminacion.csv")