In [2]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**CONTAMINACIÃ“N**

In [4]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlc3RlbGFtb2plbmFhdmlsYUBnbWFpbC5jb20iLCJqdGkiOiI4ODViYWY2Ni04YzdjLTQ2ZGItOGQ5YS0zNzliOTgxMjhkYTgiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcyOTU0NTcyMCwidXNlcklkIjoiODg1YmFmNjYtOGM3Yy00NmRiLThkOWEtMzc5Yjk4MTI4ZGE4Iiwicm9sZSI6IiJ9.sRepbZGfMU6aBkZq3VogpkYo7thIn5v1ojD8r07Zz8I"
headers = {"api_key": api_key}
url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/01"
response = requests.get(url_estacion, headers = headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/72c829e1',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/6235d58a'}

In [5]:
data = requests.get(response.json().get("datos")).text.split("\n")
data[0]

'31-10-2024 00:10 SO2(001): +00000.17 ug/m3 CV: V FC: 2.66 NO(007): +00000.09 ug/m3 CV: V FC: 1.248 NO2(008): +00001.15 ug/m3 CV: V FC: 1.91 O3(014): +00079.66 ug/m3 CV: V FC: 1.99 VEL(081): +00002.61 m/s CV: V FC: 1 DIR(082): +00135.18 GRA CV: V FC: 1 TEM(083): +00012.06 GC CV: V FC: 1 HUM(086): +00075.78 % CV: V FC: 1 PRE(087): +00911.00 hPa CV: V FC: 1 RAD(088): +00006.31 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [6]:
data[0][17:]

'SO2(001): +00000.17 ug/m3 CV: V FC: 2.66 NO(007): +00000.09 ug/m3 CV: V FC: 1.248 NO2(008): +00001.15 ug/m3 CV: V FC: 1.91 O3(014): +00079.66 ug/m3 CV: V FC: 1.99 VEL(081): +00002.61 m/s CV: V FC: 1 DIR(082): +00135.18 GRA CV: V FC: 1 TEM(083): +00012.06 GC CV: V FC: 1 HUM(086): +00075.78 % CV: V FC: 1 PRE(087): +00911.00 hPa CV: V FC: 1 RAD(088): +00006.31 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [7]:
dicc_data = {k : v for k, v in np.array(data[0][17:].split()).reshape(-1, 7)[:, :2]}
dicc_data["date"] = data[0][:17]
pd.json_normalize(dicc_data)

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date
0,+00000.17,+00000.09,+00001.15,+00079.66,+00002.61,+00135.18,+00012.06,+00075.78,+00911.00,+00006.31,+00000.00,+00000.00,31-10-2024 00:10

In [8]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlc3RlbGFtb2plbmFhdmlsYUBnbWFpbC5jb20iLCJqdGkiOiI4ODViYWY2Ni04YzdjLTQ2ZGItOGQ5YS0zNzliOTgxMjhkYTgiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcyOTU0NTcyMCwidXNlcklkIjoiODg1YmFmNjYtOGM3Yy00NmRiLThkOWEtMzc5Yjk4MTI4ZGE4Iiwicm9sZSI6IiJ9.sRepbZGfMU6aBkZq3VogpkYo7thIn5v1ojD8r07Zz8I"

headers = {"api_key": api_key}

estaciones = ["11", "10", "09", "17", "14", "06", "08", "05", "16", "13", "01", "07", "12"]

df = pd.DataFrame()

for estacion in estaciones:
    url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/{estacion}"
    
    response = requests.get(url_estacion, headers = headers)
    
    data = requests.get(response.json().get("datos")).text.split("\n")
    
    def parsear_data(data, estacion):
    
        lista_dicc_data = list()
        
        for elemento in data:
            dicc_data = {k : v for k, v in np.array(elemento[17:].split()).reshape(-1, 7)[:, :2]}
            dicc_data["date"] = elemento[:17]
            lista_dicc_data.append(dicc_data)
            df_ = pd.json_normalize(lista_dicc_data)
            df_["estacion"] = estacion
    
        return df_
    
    df = pd.concat([df, parsear_data(data, estacion)], ignore_index = True)

df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,+00000.48,+00000.28,+00000.91,+00054.60,+00001.60,+00156.00,+00011.60,+00094.90,+00971.70,+00000.00,+00000.00,+00000.00,31-10-2024 00:10,11
1,+00000.43,+00000.15,+00000.73,+00059.31,+00001.80,+00152.00,+00011.60,+00094.70,+00971.60,+00000.00,+00000.00,+00000.00,31-10-2024 00:20,11
2,+00000.53,+00000.18,+00000.80,+00060.63,+00001.70,+00159.00,+00011.50,+00094.10,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:30,11
3,+00000.55,+00000.19,+00000.83,+00060.18,+00000.90,+00159.00,+00011.40,+00093.70,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:40,11
4,+00000.41,+00000.28,+00000.73,+00061.15,+00000.90,+00151.00,+00011.30,+00093.50,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,+00001.52,+00000.32,+00000.64,+00072.76,+00004.68,+00229.84,+00018.90,+00067.00,+00924.00,+00321.53,+00000.00,+00116.49,31-10-2024 13:30,12
1101,+00001.31,+00000.37,+00000.52,+00072.42,+00004.94,+00229.02,+00019.20,+00067.00,+00923.99,+00500.93,+00000.00,+00116.49,31-10-2024 13:40,12
1102,+00001.25,+00000.39,+00000.59,+00074.61,+00004.44,+00238.36,+00019.00,+00066.00,+00924.00,+00381.81,+00000.00,+00116.49,31-10-2024 13:50,12
1103,+00001.42,+00000.38,+00000.55,+00075.78,+00005.19,+00238.93,+00019.10,+00065.00,+00924.00,+00272.53,+00000.00,+00116.49,31-10-2024 14:00,12
1104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,12

In [9]:
df.to_csv("contaminacion.csv")

In [10]:
df = pd.read_csv("contaminacion.csv")

In [12]:
df

,Unnamed: 0,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,0,0.48,0.28,0.91,54.60,1.60,156.00,11.6,94.9,971.70,0.00,0.0,0.00,31-10-2024 00:10,11
1,1,0.43,0.15,0.73,59.31,1.80,152.00,11.6,94.7,971.60,0.00,0.0,0.00,31-10-2024 00:20,11
2,2,0.53,0.18,0.80,60.63,1.70,159.00,11.5,94.1,971.80,0.00,0.0,0.00,31-10-2024 00:30,11
3,3,0.55,0.19,0.83,60.18,0.90,159.00,11.4,93.7,971.80,0.00,0.0,0.00,31-10-2024 00:40,11
4,4,0.41,0.28,0.73,61.15,0.90,151.00,11.3,93.5,971.80,0.00,0.0,0.00,31-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,1100,1.52,0.32,0.64,72.76,4.68,229.84,18.9,67.0,924.00,321.53,0.0,116.49,31-10-2024 13:30,12
1101,1101,1.31,0.37,0.52,72.42,4.94,229.02,19.2,67.0,923.99,500.93,0.0,116.49,31-10-2024 13:40,12
1102,1102,1.25,0.39,0.59,74.61,4.44,238.36,19.0,66.0,924.00,381.81,0.0,116.49,31-10-2024 13:50,12
1103,1103,1.42,0.38,0.55,75.78,5.19,238.93,19.1,65.0,924.00,272.53,0.0,116.49,31-10-2024 14:00,12
1104,1104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12

In [31]:
df = df.drop(["Unnamed: 0"], axis=1)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1105 non-null   int64
 1   SO2(001):   1092 non-null   float64
 2   NO(007):    1092 non-null   float64
 3   NO2(008):   1092 non-null   float64
 4   O3(014):    1092 non-null   float64
 5   VEL(081):   1092 non-null   float64
 6   DIR(082):   1092 non-null   float64
 7   TEM(083):   1092 non-null   float64
 8   HUM(086):   1092 non-null   float64
 9   PRE(087):   1092 non-null   float64
 10  RAD(088):   1092 non-null   float64
 11  LLU(089):   1092 non-null   float64
 12  PM10(010):  1092 non-null   float64
 13  date        1092 non-null   object
 14  estacion    1105 non-null   int64
dtypes: float64(12), int64(2), object(1)
memory usage: 129.6+ KB

In [33]:
df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,0.48,0.28,0.91,54.60,1.60,156.00,11.6,94.9,971.70,0.00,0.0,0.00,31-10-2024 00:10,11
1,0.43,0.15,0.73,59.31,1.80,152.00,11.6,94.7,971.60,0.00,0.0,0.00,31-10-2024 00:20,11
2,0.53,0.18,0.80,60.63,1.70,159.00,11.5,94.1,971.80,0.00,0.0,0.00,31-10-2024 00:30,11
3,0.55,0.19,0.83,60.18,0.90,159.00,11.4,93.7,971.80,0.00,0.0,0.00,31-10-2024 00:40,11
4,0.41,0.28,0.73,61.15,0.90,151.00,11.3,93.5,971.80,0.00,0.0,0.00,31-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,1.52,0.32,0.64,72.76,4.68,229.84,18.9,67.0,924.00,321.53,0.0,116.49,31-10-2024 13:30,12
1101,1.31,0.37,0.52,72.42,4.94,229.02,19.2,67.0,923.99,500.93,0.0,116.49,31-10-2024 13:40,12
1102,1.25,0.39,0.59,74.61,4.44,238.36,19.0,66.0,924.00,381.81,0.0,116.49,31-10-2024 13:50,12
1103,1.42,0.38,0.55,75.78,5.19,238.93,19.1,65.0,924.00,272.53,0.0,116.49,31-10-2024 14:00,12
1104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12

In [ ]:
df['SO2(001):'] = df['SO2(001):'].str.replace('+', '').astype(float)
df['NO(007):'] = df['NO(007):'].str.replace('+', '').astype(float)
df['NO2(008):'] = df['NO2(008):'].str.replace('+', '').astype(float)
df['O3(014):'] = df['O3(014):'].str.replace('+', '').astype(float)
df['VEL(081):'] = df['VEL(081):'].str.replace('+', '').astype(float)
df['DIR(082):'] = df['DIR(082):'].str.replace('+', '').astype(float)
df['TEM(083):'] = df['TEM(083):'].str.replace('+', '').astype(float)
df['HUM(086):'] = df['HUM(086):'].str.replace('+', '').astype(float)
df['PRE(087):'] = df['PRE(087):'].str.replace('+', '').astype(float)
df['RAD(088):'] = df['RAD(088):'].str.replace('+', '').astype(float)
df['LLU(089):'] = df['LLU(089):'].str.replace('+', '').astype(float)
df['PM10(010):'] = df['PM10(010):'].str.replace('+', '').astype(float)
df['estacion'] = df['estacion'].astype(int)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [45]:
df = df.drop(1104,axis=0)

In [47]:
df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,0.48,0.28,0.91,54.60,1.60,156.00,11.6,94.9,971.70,0.00,0.0,0.00,31-10-2024 00:10,11
1,0.43,0.15,0.73,59.31,1.80,152.00,11.6,94.7,971.60,0.00,0.0,0.00,31-10-2024 00:20,11
2,0.53,0.18,0.80,60.63,1.70,159.00,11.5,94.1,971.80,0.00,0.0,0.00,31-10-2024 00:30,11
3,0.55,0.19,0.83,60.18,0.90,159.00,11.4,93.7,971.80,0.00,0.0,0.00,31-10-2024 00:40,11
4,0.41,0.28,0.73,61.15,0.90,151.00,11.3,93.5,971.80,0.00,0.0,0.00,31-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,1.46,0.31,0.78,66.92,4.48,203.60,19.2,70.0,924.00,567.80,0.0,116.49,31-10-2024 13:20,12
1100,1.52,0.32,0.64,72.76,4.68,229.84,18.9,67.0,924.00,321.53,0.0,116.49,31-10-2024 13:30,12
1101,1.31,0.37,0.52,72.42,4.94,229.02,19.2,67.0,923.99,500.93,0.0,116.49,31-10-2024 13:40,12
1102,1.25,0.39,0.59,74.61,4.44,238.36,19.0,66.0,924.00,381.81,0.0,116.49,31-10-2024 13:50,12
1103,1.42,0.38,0.55,75.78,5.19,238.93,19.1,65.0,924.00,272.53,0.0,116.49,31-10-2024 14:00,12

In [36]:
(df.isna().sum() / df.shape[0]) * 100

SO2(001):     1.176471
NO(007):      1.176471
NO2(008):     1.176471
O3(014):      1.176471
VEL(081):     1.176471
DIR(082):     1.176471
TEM(083):     1.176471
HUM(086):     1.176471
PRE(087):     1.176471
RAD(088):     1.176471
LLU(089):     1.176471
PM10(010):    1.176471
date          1.176471
estacion      0.000000
dtype: float64

In [ ]:
df

In [51]:
df.to_csv("contaminacion.csv")