In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# VALORES CLIMATOLOGICOS

## 2022

In [2]:
valores_2022 = pd.read_csv("valores_climatologicos_2022.csv")

valores_2022

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,sol
0,0,2022-10-01,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"22,0","0,0","19,4",23:50,...,"1004,6",10,"1001,7",17,62.0,76.0,23:50,49.0,02:30,NaN
1,1,2022-10-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"17,3","0,0","7,4",05:00,...,"976,5",Varias,"971,9",00,51.0,89.0,06:10,24.0,13:20,NaN
2,2,2022-10-01,3094B,TARANCÓN,CUENCA,808,NaN,"0,0",NaN,NaN,...,"933,3",24,"927,4",00,NaN,69.0,06:30,17.0,15:30,NaN
3,3,2022-10-01,9394X,CALATAYUD,ZARAGOZA,582,"15,8","0,0","4,9",06:10,...,"959,1",24,"953,9",01,52.0,92.0,06:10,23.0,16:10,"10,1"
4,4,2022-10-01,B434X,PORTOCOLOM,ILLES BALEARS,17,NaN,"0,0",NaN,NaN,...,"1025,4",24,"1017,3",00,NaN,NaN,NaN,NaN,NaN,"9,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159124,867,2022-12-31,C456P,CITFAGRO_70_BENIJO,STA. CRUZ DE TENERIFE,906,"13,8","0,0","10,6",08:20,...,NaN,NaN,NaN,NaN,NaN,93.0,Varias,57.0,Varias,NaN
159125,868,2022-12-31,C417J,CITFAGRO_74_CHIO,STA. CRUZ DE TENERIFE,735,"16,6","0,0","13,1",Varias,...,NaN,NaN,NaN,NaN,NaN,90.0,23:50,47.0,Varias,NaN
159126,869,2022-12-31,C457E,CITFAGRO_67_MATANZA,STA. CRUZ DE TENERIFE,650,"15,4","0,0","11,8",23:10,...,NaN,NaN,NaN,NaN,NaN,98.0,Varias,44.0,09:10,NaN
159127,870,2022-12-31,C468I,CITFAGRO_98_ELDRAGO,STA. CRUZ DE TENERIFE,218,"20,0","0,0","15,7",01:00,...,NaN,NaN,NaN,NaN,NaN,80.0,Varias,50.0,11:10,NaN
159128,871,2022-12-31,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"17,2","0,0","12,8",23:24,...,NaN,NaN,NaN,NaN,62.0,83.0,Varias,42.0,14:40,NaN

In [3]:
(valores_2022.isna().sum() / valores_2022.shape[0]) * 100

Unnamed: 0      0.000000
fecha           0.000000
indicativo      0.000000
nombre          0.000000
provincia       0.000000
altitud         0.000000
tmed            1.904744
prec            3.154673
tmin            1.888405
horatmin        2.364120
tmax            1.880236
horatmax        2.303163
dir            20.056684
velmedia       19.761954
racha          20.056684
horaracha      20.059197
presMax        75.903826
horaPresMax    75.911368
presMin        75.905083
horaPresMin    75.917652
hrMedia         6.200001
hrMax           4.606326
horaHrMax       4.621408
hrMin           4.597528
horaHrMin       4.639004
sol            83.070339
dtype: float64

In [4]:
valores_2022 = valores_2022.drop(["Unnamed: 0","presMax","horaPresMax","presMin","horaPresMin","sol"],axis=1)

In [5]:
valores_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159129 entries, 0 to 159128
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       159129 non-null  object
 1   indicativo  159129 non-null  object
 2   nombre      159129 non-null  object
 3   provincia   159129 non-null  object
 4   altitud     159129 non-null  int64
 5   tmed        156098 non-null  object
 6   prec        154109 non-null  object
 7   tmin        156124 non-null  object
 8   horatmin    155367 non-null  object
 9   tmax        156137 non-null  object
 10  horatmax    155464 non-null  object
 11  dir         127213 non-null  float64
 12  velmedia    127682 non-null  object
 13  racha       127213 non-null  object
 14  horaracha   127209 non-null  object
 15  hrMedia     149263 non-null  float64
 16  hrMax       151799 non-null  float64
 17  horaHrMax   151775 non-null  object
 18  hrMin       151813 non-null  float64
 19  horaHrMin   151747 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 24.3+ MB

In [6]:
valores_2022['provincia'] = valores_2022['provincia'].astype(str)
valores_2022['nombre'] = valores_2022['nombre'].astype(str)
valores_2022['indicativo'] = valores_2022['indicativo'].astype(str)

valores_2022['fecha'] = pd.to_datetime(valores_2022['fecha'])

In [7]:
# Convertir 'horatmin' y otras columnas de hora a formato datetime
columnas_a_transformar = ['horatmin', 'horatmax', 'horaHrMin', 'horaracha', 'horaHrMax']

# Aplicar las transformaciones
for col in columnas_a_transformar:
    valores_2022[col] = valores_2022[col].replace("Varias", '00:00').replace("24:00", "00:00")

# Convertir las columnas a formato datetime
columnas_a_convertir = ['horatmin','horatmax', 'horaHrMin', 'horaracha', 'horaHrMax', 'horatmin']

# Convertir cada columna a datetime y manejar errores
for col in columnas_a_convertir:
    valores_2022[col] = pd.to_datetime(valores_2022[col], format="%H:%M", errors='coerce')

columnas_a_transformar = ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMax', 'hrMedia', 'hrMin', 'prec']

# Aplicar las transformaciones
for col in columnas_a_transformar:
    if col in ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMedia', 'hrMin', 'prec']:
        valores_2022[col] = valores_2022[col].replace(',', '.').replace("Ip", np.nan).replace("Acum", np.nan).astype(float, errors='ignore')
    elif col == 'hrMax':
        valores_2022[col] = valores_2022[col].astype(float)

In [8]:
valores_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159129 entries, 0 to 159128
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       159129 non-null  datetime64[ns]
 1   indicativo  159129 non-null  object
 2   nombre      159129 non-null  object
 3   provincia   159129 non-null  object
 4   altitud     159129 non-null  int64
 5   tmed        156098 non-null  object
 6   prec        152900 non-null  object
 7   tmin        156124 non-null  object
 8   horatmin    155367 non-null  datetime64[ns]
 9   tmax        156137 non-null  object
 10  horatmax    155464 non-null  datetime64[ns]
 11  dir         127213 non-null  float64
 12  velmedia    127682 non-null  object
 13  racha       127213 non-null  object
 14  horaracha   127171 non-null  datetime64[ns]
 15  hrMedia     149263 non-null  float64
 16  hrMax       151799 non-null  float64
 17  horaHrMax   151775 non-null  datetime64[ns]
 18  hrMin       151813 non-null  float64
 19  horaHrMin   151747 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(4), int64(1), object(9)
memory usage: 24.3+ MB

In [9]:
valores_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159129 entries, 0 to 159128
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       159129 non-null  datetime64[ns]
 1   indicativo  159129 non-null  object
 2   nombre      159129 non-null  object
 3   provincia   159129 non-null  object
 4   altitud     159129 non-null  int64
 5   tmed        156098 non-null  object
 6   prec        152900 non-null  object
 7   tmin        156124 non-null  object
 8   horatmin    155367 non-null  datetime64[ns]
 9   tmax        156137 non-null  object
 10  horatmax    155464 non-null  datetime64[ns]
 11  dir         127213 non-null  float64
 12  velmedia    127682 non-null  object
 13  racha       127213 non-null  object
 14  horaracha   127171 non-null  datetime64[ns]
 15  hrMedia     149263 non-null  float64
 16  hrMax       151799 non-null  float64
 17  horaHrMax   151775 non-null  datetime64[ns]
 18  hrMin       151813 non-null  float64
 19  horaHrMin   151747 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(4), int64(1), object(9)
memory usage: 24.3+ MB

In [10]:
valores_2022.to_csv("valores_climatologicos_limpio_2022.csv")

In [11]:
valores_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159129 entries, 0 to 159128
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       159129 non-null  datetime64[ns]
 1   indicativo  159129 non-null  object
 2   nombre      159129 non-null  object
 3   provincia   159129 non-null  object
 4   altitud     159129 non-null  int64
 5   tmed        156098 non-null  object
 6   prec        152900 non-null  object
 7   tmin        156124 non-null  object
 8   horatmin    155367 non-null  datetime64[ns]
 9   tmax        156137 non-null  object
 10  horatmax    155464 non-null  datetime64[ns]
 11  dir         127213 non-null  float64
 12  velmedia    127682 non-null  object
 13  racha       127213 non-null  object
 14  horaracha   127171 non-null  datetime64[ns]
 15  hrMedia     149263 non-null  float64
 16  hrMax       151799 non-null  float64
 17  horaHrMax   151775 non-null  datetime64[ns]
 18  hrMin       151813 non-null  float64
 19  horaHrMin   151747 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(4), int64(1), object(9)
memory usage: 24.3+ MB

In [12]:
pd.set_option('display.max_rows', None)  # None permite mostrar todas las filas

# Ver todos los conteos de valores
print(valores_2022['prec'].value_counts())

# Restablecer la opción después de visualizar
pd.reset_option('display.max_rows')

prec
0,0      95741
0,2       7698
0,4       3276
0,6       2422
0,8       1901
1,0       1597
1,2       1416
0,1       1348
1,4       1278
1,6       1166
2,0       1084
1,8       1052
2,4        908
2,2        888
2,8        828
2,6        802
3,4        674
3,0        648
3,2        646
4,0        608
3,6        606
3,8        558
4,2        540
4,6        506
4,4        476
4,8        470
5,4        466
5,8        446
5,0        444
0,3        434
5,6        432
5,2        426
6,0        404
6,4        374
6,2        374
7,0        364
6,6        362
7,2        360
6,8        318
7,6        310
7,8        308
8,6        300
0,5        299
7,4        290
8,0        288
8,2        282
8,4        264
9,2        258
9,0        250
10,4       236
9,4        232
8,8        226
9,8        226
10,2       224
9,6        222
10,6       216
11,0       200
10,0       188
13,2       186
0,7        184
11,8       180
11,4       176
12,8       172
11,6       172
10,8       166
11,2       164
12,2       160
13,0       160
1,1        154
0,9        154
13,6       152
13,8       146
12,4       146
12,0       142
12,6       142
16,4       136
15,6       134
14,8       132
14,0       132
1,3        132
13,4       130
1,5        128
14,6       122
15,4       120
14,4       118
17,0       110
15,2       108
18,2       106
1,9        104
16,0       100
1,7        100
17,2       100
14,2        98
18,8        98
17,4        96
16,8        96
2,1         96
17,8        94
15,0        94
15,8        92
2,5         92
19,0        92
16,2        90
3,5         88
20,4        86
16,6        86
19,2        84
18,6        84
18,4        84
3,1         82
21,0        80
17,6        80
3,7         80
19,4        80
3,3         78
22,6        76
2,3         72
19,8        72
18,0        72
23,0        70
21,4        68
20,8        68
22,0        68
20,6        66
19,6        66
5,5         66
25,0        62
4,1         62
2,9         62
5,3         62
2,7         60
21,2        60
4,7         60
3,9         60
22,2        60
21,6        58
24,2        58
22,8        54
5,7         52
5,9         52
24,0        52
21,8        52
4,3         50
7,1         50
7,5         50
28,6        50
6,3         50
20,2        50
23,4        50
24,8        48
25,4        48
26,4        48
6,5         48
24,6        46
20,0        46
4,5         46
22,4        46
23,2        46
5,1         44
25,2        44
6,7         44
26,8        42
8,1         42
6,1         40
35,6        40
34,2        38
32,8        38
4,9         38
28,8        36
31,0        36
28,4        36
24,4        36
26,2        36
23,6        36
25,8        34
23,8        34
10,3        34
27,4        34
9,1         34
8,7         34
28,2        34
27,6        32
27,8        32
28,0        32
29,8        32
27,2        32
9,5         32
8,5         32
30,4        30
6,9         30
7,9         30
26,6        30
33,2        30
32,4        30
25,6        30
27,0        28
12,9        28
9,3         28
26,0        28
7,7         28
35,2        28
31,2        28
10,1        26
31,4        26
11,5        26
12,7        26
32,6        24
33,0        24
7,3         24
11,1        24
32,0        24
12,3        24
13,1        24
30,6        24
14,9        22
33,4        22
30,8        22
38,6        22
10,7        22
44,4        22
29,2        22
14,1        22
37,6        20
30,2        20
10,5        20
14,7        20
32,2        20
34,8        20
11,9        20
9,9         20
39,2        20
31,6        18
8,3         18
34,6        18
11,7        18
33,8        18
29,0        18
10,9        18
43,0        18
41,6        18
38,8        18
36,6        18
30,0        18
35,4        18
42,6        18
29,4        18
17,7        18
15,3        18
11,3        18
34,0        18
12,1        18
29,6        18
9,7         16
40,6        16
12,5        16
37,8        16
34,4        16
36,8        16
38,2        16
41,2        14
44,2        14
14,3        14
31,8        14
42,8        14
41,4        14
41,0        14
16,1        14
15,5        12
51,0        12
40,2        12
46,4        12
52,4        12
43,2        12
36,4        12
38,4        12
43,8        12
46,6        12
8,9         12
39,0        12
47,8        12
41,8        12
19,5        12
42,2        12
13,9        12
15,9        12
42,0        12
15,7        12
35,0        12
42,4        12
33,6        12
45,8        10
13,5        10
54,0        10
15,1        10
37,4        10
37,2        10
45,4        10
20,1        10
49,0        10
39,6        10
16,3        10
21,9        10
47,0        10
36,2        10
47,4        10
18,5        10
22,3        10
47,2        10
45,6        10
36,0        10
48,6        10
44,6        10
40,4        10
62,4         8
55,0         8
21,3         8
19,9         8
18,9         8
46,0         8
16,5         8
20,5         8
48,8         8
27,7         8
54,2         8
52,2         8
21,7         8
62,8         8
20,9         8
51,8         8
48,0         8
13,7         8
38,0         8
46,8         8
58,6         8
22,9         8
16,7         8
43,6         8
58,0         8
24,9         8
39,8         8
32,3         8
54,6         8
14,5         8
27,5         8
53,0         8
26,9         8
19,7         8
52,6         8
63,6         8
44,0         8
26,1         8
56,6         8
27,9         6
51,2         6
25,1         6
23,5         6
60,0         6
43,4         6
40,0         6
31,9         6
58,8         6
21,5         6
17,3         6
36,9         6
24,3         6
24,5         6
13,3         6
66,0         6
55,8         6
24,7         6
20,7         6
28,5         6
19,3         6
47,6         6
58,4         6
17,9         6
18,3         6
50,4         6
20,3         6
29,7         6
45,2         6
36,5         6
23,7         6
34,9         6
16,9         6
57,6         6
34,5         6
18,7         6
61,4         6
65,0         6
46,9         6
45,0         6
57,4         6
37,0         6
48,2         6
78,4         4
46,2         4
28,3         4
52,0         4
35,9         4
39,5         4
23,1         4
44,7         4
38,1         4
17,5         4
33,5         4
44,3         4
59,2         4
82,4         4
44,8         4
35,8         4
30,9         4
17,1         4
85,4         4
33,3         4
59,6         4
51,4         4
73,8         4
60,8         4
40,8         4
79,0         4
68,8         4
64,8         4
64,6         4
55,4         4
59,0         4
49,4         4
71,4         4
84,4         4
48,7         4
30,7         4
66,4         4
73,6         4
61,2         4
67,6         4
67,4         4
25,3         4
71,2         4
75,6         4
76,4         4
50,2         4
64,0         4
65,8         4
31,3         4
66,2         4
71,8         4
30,3         4
22,5         4
37,1         4
41,5         4
114,4        4
60,4         4
51,6         4
55,6         4
49,6         4
53,4         4
76,6         4
26,7         4
49,8         4
55,2         4
56,2         4
63,4         4
39,4         4
32,1         4
53,8         4
38,3         4
22,7         4
21,1         4
69,4         4
31,5         4
26,3         4
122,6        2
108,0        2
98,6         2
56,8         2
105,9        2
137,6        2
74,0         2
106,6        2
98,8         2
51,9         2
53,2         2
69,2         2
93,4         2
83,2         2
65,2         2
19,1         2
78,2         2
31,1         2
74,4         2
23,3         2
104,6        2
65,5         2
26,5         2
78,8         2
38,9         2
62,2         2
92,4         2
34,7         2
54,4         2
41,7         2
110,6        2
60,2         2
71,1         2
37,9         2
60,6         2
71,0         2
130,2        2
91,6         2
29,1         2
23,9         2
87,6         2
72,4         2
24,1         2
64,5         2
73,4         2
61,1         2
133,4        2
93,0         2
104,4        2
139,6        2
75,9         2
128,0        2
106,0        2
85,5         2
101,8        2
103,5        2
100,5        2
94,6         2
34,1         2
94,8         2
81,6         2
67,0         2
80,1         2
25,9         2
25,7         2
90,0         2
190,7        2
40,3         2
118,1        2
110,1        2
48,5         2
72,9         2
64,9         2
72,8         2
58,7         2
88,6         2
69,8         2
49,3         2
105,6        2
52,8         2
153,8        2
63,2         2
78,6         2
57,0         2
54,8         2
106,2        2
52,5         2
148,4        2
102,6        2
96,0         2
95,8         2
50,8         2
84,0         2
84,8         2
184,4        2
69,6         2
96,4         2
103,4        2
35,7         2
42,7         2
71,6         2
33,1         2
88,9         2
31,7         2
68,4         2
45,7         2
47,1         2
50,0         2
84,2         2
30,1         2
43,5         2
110,0        2
40,9         2
27,1         2
38,5         2
84,6         2
89,6         2
139,0        2
67,8         2
74,8         2
56,4         2
50,9         2
58,2         2
64,2         2
150,2        2
65,6         2
68,6         2
22,1         2
41,9         2
68,2         2
81,2         2
138,6        2
37,7         2
28,9         2
77,6         2
121,0        2
83,0         2
79,2         2
55,7         2
32,9         2
57,2         2
73,0         2
59,8         2
62,0         2
55,1         2
52,9         2
67,9         2
78,5         2
119,5        2
70,2         2
99,4         2
82,0         2
77,7         2
78,9         2
109,7        2
32,5         2
39,1         2
39,3         2
49,2         2
74,6         2
28,1         2
62,7         2
86,1         2
53,7         2
44,5         2
155,6        2
115,8        2
62,6         2
93,8         2
63,0         2
42,5         2
48,3         2
46,5         2
100,2        2
18,1         2
63,8         2
Name: count, dtype: int64

In [13]:
valores_2022

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2022-10-01,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"22,0","0,0","19,4",1900-01-01 23:50:00,"24,7",1900-01-01 13:00:00,4.0,"7,5","13,9",1900-01-01 00:50:00,62.0,76.0,1900-01-01 23:50:00,49.0,1900-01-01 02:30:00
1,2022-10-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"17,3","0,0","7,4",1900-01-01 05:00:00,"27,2",1900-01-01 14:00:00,18.0,"2,2","10,3",1900-01-01 18:00:00,51.0,89.0,1900-01-01 06:10:00,24.0,1900-01-01 13:20:00
2,2022-10-01,3094B,TARANCÓN,CUENCA,808,NaN,"0,0",NaN,NaT,NaN,NaT,32.0,"1,4","5,8",1900-01-01 16:00:00,NaN,69.0,1900-01-01 06:30:00,17.0,1900-01-01 15:30:00
3,2022-10-01,9394X,CALATAYUD,ZARAGOZA,582,"15,8","0,0","4,9",1900-01-01 06:10:00,"26,8",1900-01-01 16:20:00,3.0,"0,8","4,7",1900-01-01 17:20:00,52.0,92.0,1900-01-01 06:10:00,23.0,1900-01-01 16:10:00
4,2022-10-01,B434X,PORTOCOLOM,ILLES BALEARS,17,NaN,"0,0",NaN,NaT,NaN,NaT,24.0,"3,1","11,1",1900-01-01 13:40:00,NaN,NaN,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159124,2022-12-31,C456P,CITFAGRO_70_BENIJO,STA. CRUZ DE TENERIFE,906,"13,8","0,0","10,6",1900-01-01 08:20:00,"17,0",1900-01-01 11:10:00,NaN,NaN,NaN,NaT,NaN,93.0,1900-01-01 00:00:00,57.0,1900-01-01 00:00:00
159125,2022-12-31,C417J,CITFAGRO_74_CHIO,STA. CRUZ DE TENERIFE,735,"16,6","0,0","13,1",1900-01-01 00:00:00,"20,2",1900-01-01 12:20:00,NaN,NaN,NaN,NaT,NaN,90.0,1900-01-01 23:50:00,47.0,1900-01-01 00:00:00
159126,2022-12-31,C457E,CITFAGRO_67_MATANZA,STA. CRUZ DE TENERIFE,650,"15,4","0,0","11,8",1900-01-01 23:10:00,"19,0",1900-01-01 00:00:00,NaN,NaN,NaN,NaT,NaN,98.0,1900-01-01 00:00:00,44.0,1900-01-01 09:10:00
159127,2022-12-31,C468I,CITFAGRO_98_ELDRAGO,STA. CRUZ DE TENERIFE,218,"20,0","0,0","15,7",1900-01-01 01:00:00,"24,3",1900-01-01 11:10:00,NaN,NaN,NaN,NaT,NaN,80.0,1900-01-01 00:00:00,50.0,1900-01-01 11:10:00
159128,2022-12-31,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"17,2","0,0","12,8",1900-01-01 23:24:00,"21,7",1900-01-01 14:50:00,NaN,NaN,NaN,NaT,62.0,83.0,1900-01-01 00:00:00,42.0,1900-01-01 14:40:00

In [14]:
(valores_2022.isna().sum() / valores_2022.shape[0]) * 100

fecha          0.000000
indicativo     0.000000
nombre         0.000000
provincia      0.000000
altitud        0.000000
tmed           1.904744
prec           3.914434
tmin           1.888405
horatmin       2.364120
tmax           1.880236
horatmax       2.303163
dir           20.056684
velmedia      19.761954
racha         20.056684
horaracha     20.083077
hrMedia        6.200001
hrMax          4.606326
horaHrMax      4.621408
hrMin          4.597528
horaHrMin      4.639004
dtype: float64

## 2023

In [15]:
valores_2023 = pd.read_csv("valores_climatologicos_2023.csv")

valores_2023

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,sol
0,872,2023-01-01,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"18,2","0,0","13,5",05:50,...,"1009,6",24,"1006,7",15,78.0,94.0,22:00,61.0,12:20,NaN
1,873,2023-01-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"14,6","0,2","6,4",00:30,...,"977,1",00,"973,4",Varias,39.0,72.0,00:20,16.0,14:00,NaN
2,874,2023-01-01,3094B,TARANCÓN,CUENCA,808,NaN,"0,0",NaN,NaN,...,"931,7",00,"927,0",17,NaN,49.0,22:10,14.0,15:20,NaN
3,875,2023-01-01,9394X,CALATAYUD,ZARAGOZA,582,"6,9","0,0","0,9",05:00,...,"957,3",00,"952,3",Varias,63.0,83.0,08:30,45.0,Varias,"2,0"
4,876,2023-01-01,B434X,PORTOCOLOM,ILLES BALEARS,17,"14,8","0,0","10,3",06:30,...,"1025,9",00,"1022,0",24,NaN,NaN,NaN,NaN,NaN,"8,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641091,884,2023-12-31,2626Y,CUBILLAS DE RUEDA,LEON,916,"4,6","0,0","1,6",23:38,...,NaN,NaN,NaN,NaN,78.0,96.0,03:40,63.0,13:30,NaN
641092,885,2023-12-31,2096B,LICERAS,SORIA,1150,"4,4","0,0","1,5",19:08,...,NaN,NaN,NaN,NaN,72.0,94.0,Varias,62.0,07:00,NaN
641093,886,2023-12-31,9111,BELORADO,BURGOS,820,"7,4","0,3","5,5",Varias,...,NaN,NaN,NaN,NaN,63.0,NaN,NaN,51.0,14:30,NaN
641094,887,2023-12-31,2302N,MONTERRUBIO DE LA DEMANDA,BURGOS,1197,"4,0","3,6","1,9",23:58,...,NaN,NaN,NaN,NaN,86.0,100.0,09:40,71.0,13:40,NaN
641095,888,2023-12-31,2430Y,MUÑOTELLO,AVILA,1178,NaN,"0,2",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
valores_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641096 entries, 0 to 641095
Data columns (total 26 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   641096 non-null  int64
 1   fecha        641096 non-null  object
 2   indicativo   641096 non-null  object
 3   nombre       641096 non-null  object
 4   provincia    641096 non-null  object
 5   altitud      641096 non-null  int64
 6   tmed         627748 non-null  object
 7   prec         622554 non-null  object
 8   tmin         627896 non-null  object
 9   horatmin     624774 non-null  object
 10  tmax         627968 non-null  object
 11  horatmax     625060 non-null  object
 12  dir          512944 non-null  float64
 13  velmedia     514562 non-null  object
 14  racha        512944 non-null  object
 15  horaracha    512906 non-null  object
 16  presMax      156430 non-null  object
 17  horaPresMax  156422 non-null  object
 18  presMin      156422 non-null  object
 19  horaPresMin  156412 non-null  object
 20  hrMedia      600302 non-null  float64
 21  hrMax        614748 non-null  float64
 22  horaHrMax    614668 non-null  object
 23  hrMin        614778 non-null  float64
 24  horaHrMin    614698 non-null  object
 25  sol          105578 non-null  object
dtypes: float64(4), int64(2), object(20)
memory usage: 127.2+ MB

In [17]:
valores_2023 = valores_2023.drop(["Unnamed: 0","presMax","horaPresMax","presMin","horaPresMin","sol"],axis=1)

In [18]:
# Para valores_2023
valores_2023['provincia'] = valores_2023['provincia'].astype(str)
valores_2023['nombre'] = valores_2023['nombre'].astype(str)
valores_2023['indicativo'] = valores_2023['indicativo'].astype(str)

valores_2023['fecha'] = pd.to_datetime(valores_2023['fecha'])

# Convertir columnas de hora a formato datetime
columnas_a_transformar =['horatmin', 'horatmax', 'horaHrMin', 'horaracha', 'horaHrMax']

for col in columnas_a_transformar:
    valores_2023[col] = valores_2023[col].replace("Varias", '00:00').replace("24:00", "00:00")

columnas_a_convertir = ['horatmin','horatmax', 'horaHrMin', 'horaracha', 'horaHrMax', 'horatmin']

for col in columnas_a_convertir:
    valores_2023[col] = pd.to_datetime(valores_2023[col], format="%H:%M", errors='coerce')
    
# Aplicar limpieza y transformar a float
columnas_a_transformar = ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMax', 'hrMedia', 'hrMin', 'prec']

for col in columnas_a_transformar:
    if col in ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMedia', 'hrMin', 'prec']:
        valores_2023[col] = valores_2023[col].replace(',', '.').replace("Ip", np.nan).replace("Acum", np.nan).astype(float, errors='ignore')
    elif col == 'hrMax':
        valores_2023[col] = valores_2023[col].astype(float)

In [19]:
(valores_2022.isna().sum() / valores_2022.shape[0]) * 100

fecha          0.000000
indicativo     0.000000
nombre         0.000000
provincia      0.000000
altitud        0.000000
tmed           1.904744
prec           3.914434
tmin           1.888405
horatmin       2.364120
tmax           1.880236
horatmax       2.303163
dir           20.056684
velmedia      19.761954
racha         20.056684
horaracha     20.083077
hrMedia        6.200001
hrMax          4.606326
horaHrMax      4.621408
hrMin          4.597528
horaHrMin      4.639004
dtype: float64

In [20]:
valores_2023.to_csv("valores_climatologicos_limpio_2023.csv")

## 2024

In [21]:
valores_2024 = pd.read_csv("valores_climatologicos_2024.csv")

valores_2024

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,sol
0,889,2024-01-01,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"17,8","0,0","13,5",03:20,...,"1007,4",23,"1004,5",15,62.0,87.0,22:40,48.0,12:50,NaN
1,890,2024-01-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"11,1","0,2","5,1",Varias,...,"975,8",23,"970,8",04,80.0,96.0,Varias,57.0,13:20,NaN
2,891,2024-01-01,3094B,TARANCÓN,CUENCA,808,"6,8","0,0","2,7",23:10,...,"928,4",22,"923,5",04,74.0,93.0,Varias,40.0,15:40,NaN
3,892,2024-01-01,9394X,CALATAYUD,ZARAGOZA,582,"6,7","0,0","1,1",08:10,...,"953,5",21,"950,3",14,61.0,89.0,08:20,34.0,15:10,"6,9"
4,893,2024-01-01,B434X,PORTOCOLOM,ILLES BALEARS,17,"12,1","1,2","8,4",23:59,...,"1019,8",23,"1015,0",05,79.0,88.0,19:30,70.0,03:40,"0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486149,865,2024-10-01,C468X,SAN JUAN DE LA RAMBLA,STA. CRUZ DE TENERIFE,677,"16,2","0,0","13,6",01:39,...,NaN,NaN,NaN,NaN,95.0,100.0,Varias,52.0,21:30,NaN
486150,866,2024-10-01,C459Z,PUERTO DE LA CRUZ,STA. CRUZ DE TENERIFE,25,"23,6","0,0","20,4",04:40,...,"1015,7",00,"1012,6",16,68.0,77.0,20:30,62.0,13:10,NaN
486151,867,2024-10-01,6106X,ANTEQUERA,MALAGA,408,NaN,"0,0",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486152,868,2024-10-01,B691Y,SA POBLA,ILLES BALEARS,40,"20,6","0,0","13,5",06:00,...,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN
486153,869,2024-10-01,C919K,TACORON-LAPILLAS-TORTUGA,STA. CRUZ DE TENERIFE,98,"23,4","0,0","19,9",05:08,...,NaN,NaN,NaN,NaN,65.0,82.0,21:40,55.0,13:00,NaN

In [22]:
(valores_2024.isna().sum() / valores_2024.shape[0]) * 100

Unnamed: 0      0.000000
fecha           0.000000
indicativo      0.000000
nombre          0.000000
provincia       0.000000
altitud         0.000000
tmed            2.374968
prec            3.479556
tmin            2.351930
horatmin        3.105600
tmax            2.314082
horatmax        3.039366
dir            19.645215
velmedia       19.460500
racha          19.645215
horaracha      19.646861
presMax        75.064280
horaPresMax    75.064280
presMin        75.066337
horaPresMin    75.067983
hrMedia         6.732435
hrMax           4.031644
horaHrMax       4.120094
hrMin           4.009841
horaHrMin       4.099113
sol            83.959404
dtype: float64

In [23]:
valores_2024 = valores_2024.drop(["Unnamed: 0","presMax","horaPresMax","presMin","horaPresMin","sol"],axis=1)

In [24]:
valores_2024

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2024-01-01,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"17,8","0,0","13,5",03:20,"22,2",14:10,20.0,"2,2","5,3",14:20,62.0,87.0,22:40,48.0,12:50
1,2024-01-01,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"11,1","0,2","5,1",Varias,"17,1",13:10,33.0,"1,4","5,0",15:50,80.0,96.0,Varias,57.0,13:20
2,2024-01-01,3094B,TARANCÓN,CUENCA,808,"6,8","0,0","2,7",23:10,"11,0",14:50,31.0,"0,3","5,6",15:40,74.0,93.0,Varias,40.0,15:40
3,2024-01-01,9394X,CALATAYUD,ZARAGOZA,582,"6,7","0,0","1,1",08:10,"12,3",15:00,27.0,"2,8","9,2",14:00,61.0,89.0,08:20,34.0,15:10
4,2024-01-01,B434X,PORTOCOLOM,ILLES BALEARS,17,"12,1","1,2","8,4",23:59,"15,8",10:00,12.0,"3,3","8,9",06:00,79.0,88.0,19:30,70.0,03:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486149,2024-10-01,C468X,SAN JUAN DE LA RAMBLA,STA. CRUZ DE TENERIFE,677,"16,2","0,0","13,6",01:39,"18,9",14:57,8.0,"2,8","8,1",22:40,95.0,100.0,Varias,52.0,21:30
486150,2024-10-01,C459Z,PUERTO DE LA CRUZ,STA. CRUZ DE TENERIFE,25,"23,6","0,0","20,4",04:40,"26,9",15:00,6.0,"3,3","6,7",16:30,68.0,77.0,20:30,62.0,13:10
486151,2024-10-01,6106X,ANTEQUERA,MALAGA,408,NaN,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486152,2024-10-01,B691Y,SA POBLA,ILLES BALEARS,40,"20,6","0,0","13,5",06:00,"27,8",13:40,20.0,"1,9","7,5",74:10,72.0,NaN,NaN,NaN,NaN
486153,2024-10-01,C919K,TACORON-LAPILLAS-TORTUGA,STA. CRUZ DE TENERIFE,98,"23,4","0,0","19,9",05:08,"26,8",12:59,28.0,"1,9","6,9",16:00,65.0,82.0,21:40,55.0,13:00

In [25]:
valores_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486154 entries, 0 to 486153
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       486154 non-null  object
 1   indicativo  486154 non-null  object
 2   nombre      486154 non-null  object
 3   provincia   486154 non-null  object
 4   altitud     486154 non-null  int64
 5   tmed        474608 non-null  object
 6   prec        469238 non-null  object
 7   tmin        474720 non-null  object
 8   horatmin    471056 non-null  object
 9   tmax        474904 non-null  object
 10  horatmax    471378 non-null  object
 11  dir         390648 non-null  float64
 12  velmedia    391546 non-null  object
 13  racha       390648 non-null  object
 14  horaracha   390640 non-null  object
 15  hrMedia     453424 non-null  float64
 16  hrMax       466554 non-null  float64
 17  horaHrMax   466124 non-null  object
 18  hrMin       466660 non-null  float64
 19  horaHrMin   466226 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 74.2+ MB

In [26]:
valores_2024['provincia'] = valores_2024['provincia'].astype(str)
valores_2024['nombre'] = valores_2024['nombre'].astype(str)
valores_2024['indicativo'] = valores_2024['indicativo'].astype(str)
valores_2024['fecha'] = pd.to_datetime(valores_2024['fecha'])

# Convertir a datetime
columnas_a_transformar = ['horatmin', 'horatmax', 'horaHrMin', 'horaracha', 'horaHrMax']

for col in columnas_a_transformar:
    valores_2024[col] = valores_2024[col].replace("Varias", '00:00').replace("24:00", "00:00")

columnas_a_convertir = ['horatmin', 'horatmax', 'horaHrMin', 'horaracha', 'horaHrMax']

for col in columnas_a_convertir:
    valores_2024[col] = pd.to_datetime(valores_2024[col], format="%H:%M", errors='coerce')

# Aplicar limpieza y transformar a float
columnas_a_transformar = ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMax', 'hrMedia', 'hrMin', 'prec']

for col in columnas_a_transformar:
    if col in ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMedia', 'hrMin', 'prec']:
        valores_2024[col] = valores_2024[col].replace(',', '.').replace("Ip", np.nan).replace("Acum", np.nan).astype(float, errors='ignore')
    elif col == 'hrMax':
        valores_2024[col] = valores_2024[col].astype(float)

In [27]:
valores_2024.to_csv("valores_climatologicos_limpio_2024.csv")

In [28]:
valores_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486154 entries, 0 to 486153
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       486154 non-null  datetime64[ns]
 1   indicativo  486154 non-null  object
 2   nombre      486154 non-null  object
 3   provincia   486154 non-null  object
 4   altitud     486154 non-null  int64
 5   tmed        474608 non-null  object
 6   prec        466946 non-null  object
 7   tmin        474720 non-null  object
 8   horatmin    471056 non-null  datetime64[ns]
 9   tmax        474904 non-null  object
 10  horatmax    471378 non-null  datetime64[ns]
 11  dir         390648 non-null  float64
 12  velmedia    391546 non-null  object
 13  racha       390648 non-null  object
 14  horaracha   390082 non-null  datetime64[ns]
 15  hrMedia     453424 non-null  float64
 16  hrMax       466554 non-null  float64
 17  horaHrMax   466124 non-null  datetime64[ns]
 18  hrMin       466660 non-null  float64
 19  horaHrMin   466226 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(4), int64(1), object(9)
memory usage: 74.2+ MB