In [1]:
import numpy as np
import pandas as pd

import requests

from pprint import pprint

from datetime import datetime, timedelta
from time import sleep

## FUNCIÓN

In [2]:
def obtener_prediccion(API_KEY, url):
    response = requests.get(url)

    print(response.status_code)  # Para depuración
    print(response.text)  # Para depuración

    if response.status_code == 200:
        try:
            data = response.json()
            datos_url = data.get('datos')
            
            if datos_url:
                prediccion_response = requests.get(datos_url)
                
                if prediccion_response.status_code == 200:
                    prediccion_data = prediccion_response.json()
                    
                    # Convertir los datos a un DataFrame de pandas
                    df = pd.DataFrame(prediccion_data)
                    
                    return df
                else:
                    print(f"Error al obtener los datos de predicción: {prediccion_response.status_code}")
                    return None
            else:
                print("No se encontró el enlace a los datos meteorológicos.")
                return None
        except ValueError as e:
            print("Error al decodificar JSON:", e)
            print("Respuesta recibida:", response.text)
            return None
    else:
        print(f"Error al realizar la solicitud: {response.status_code}")
        return None

# MAESTRO MUNICIPIOS

In [3]:
API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlc3RlbGFtb2plbmFhdmlsYUBnbWFpbC5jb20iLCJqdGkiOiI4ODViYWY2Ni04YzdjLTQ2ZGItOGQ5YS0zNzliOTgxMjhkYTgiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcyOTU0NTcyMCwidXNlcklkIjoiODg1YmFmNjYtOGM3Yy00NmRiLThkOWEtMzc5Yjk4MTI4ZGE4Iiwicm9sZSI6IiJ9.sRepbZGfMU6aBkZq3VogpkYo7thIn5v1ojD8r07Zz8I"
url = f"https://opendata.aemet.es/opendata/api/maestro/municipios?api_key={API_KEY}"

maestro = obtener_prediccion(API_KEY, url)

200
{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/c26a4f22",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/4c38eb58"
}

In [4]:
maestro

,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud
0,"40º32'54.450744""",44004,ababuj-id44001,40.54845854,1372,Ababuj,65,624401,0,Ababuj,-0.80780117,id44001,"-0º48'28.084212"""
1,"40º54'58.824504""",40004,abades-id40001,40.91634014,971,Abades,873,674001,0,Abades,-4.26787389,id40001,"-4º16'4.346004"""
2,"43º8'51.525564""",48010,abadino-abadino-zelaieta-id48001,43.14764599,144,Abadiño-Zelaieta,7504,754802,0,Abadiño,-2.60687319,id48001,"-2º36'24.743484"""
3,"40º15'34.315272""",10004,abadia-id10001,40.25953202,451,Abadía,324,701001,0,Abadía,-5.97785806,id10001,"-5º58'40.289016"""
4,"43º21'46.874736""",27010,abadin-abadin-o-provecende-id27001,43.36302076,515,Abadín o Provecende,2646,712702,0,Abadín,-7.47214495,id27001,"-7º28'19.72182"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,"41º33'18.670032""",08456,orrius-id08153,41.55518612,255,Òrrius,690,690804,0,Òrrius,2.35494034,id08153,"2º21'17.785224"""
8118,"41º46'49.646784""",42570,olvega-id42134,41.78045744,1030,Ólvega,3814,674201,1,Ólvega,-1.98266592,id42134,"-1º58'57.597312"""
8119,"36º54'4.3173""",18620,orgiva-id18147,36.90119925,455,Órgiva,5393,611803,0,Órgiva,-3.42391088,id18147,"-3º25'26.079168"""
8120,"38º0'41.393628""",23860,ubeda-id23092,38.01149823,750,Úbeda,35177,612303,1,Úbeda,-3.37119160,id23092,"-3º22'16.28976"""
8121,"42º37'9.701292""",09722,urbel-del-castillo-id09398,42.61936147,943,Úrbel del Castillo,83,670901,0,Úrbel del Castillo,-3.84480751,id09398,"-3º50'41.307036"""

In [5]:
maestro = maestro.drop(["id_old","url","destacada","nombre", "latitud","longitud","id"], axis=1)

In [6]:
maestro.count()

latitud_dec      8122
altitud          8122
capital          8122
num_hab          8122
zona_comarcal    8122
longitud_dec     8122
dtype: int64

In [7]:
maestro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud_dec    8122 non-null   object
 1   altitud        8122 non-null   object
 2   capital        8122 non-null   object
 3   num_hab        8122 non-null   object
 4   zona_comarcal  8122 non-null   object
 5   longitud_dec   8122 non-null   object
dtypes: object(6)
memory usage: 380.8+ KB

In [8]:
x = maestro.pop("capital")

maestro.insert(0, "capital", x)

In [9]:
maestro["altitud"] = maestro["altitud"].astype(float)

In [10]:
(maestro.isna().sum() / maestro.shape[0]) * 100

capital          0.0
latitud_dec      0.0
altitud          0.0
num_hab          0.0
zona_comarcal    0.0
longitud_dec     0.0
dtype: float64

In [11]:
maestro.to_csv("maestro limpieza.csv")