In [73]:
import pandas as pd

In [ ]:
maestro = pd.read_csv("maestro municipios.csv")

maestro

In [76]:
maestro = maestro.drop(["id_old","url","destacada","Unnamed: 0","nombre", "latitud","longitud","id"], axis=1)

In [79]:
maestro.count()

latitud_dec      8122
altitud          8122
capital          8122
num_hab          8122
zona_comarcal    8122
longitud_dec     8122
dtype: int64

In [15]:
maestro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud        8122 non-null   object
 1   latitud_dec    8122 non-null   float64
 2   altitud        8122 non-null   int64
 3   capital        8122 non-null   object
 4   num_hab        8122 non-null   int64
 5   zona_comarcal  8122 non-null   int64
 6   longitud_dec   8122 non-null   float64
 7   id             8122 non-null   object
 8   longitud       8122 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 571.2+ KB

In [ ]:
maestro

In [83]:
x = maestro.pop("capital")

maestro.insert(0, "capital", x)

In [89]:
maestro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   capital        8122 non-null   object
 1   latitud_dec    8122 non-null   float64
 2   altitud        8122 non-null   int64
 3   num_hab        8122 non-null   int64
 4   zona_comarcal  8122 non-null   int64
 5   longitud_dec   8122 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 380.8+ KB

In [99]:
maestro["altitud"] = maestro["altitud"].astype(float)

In [110]:
(maestro.isna().sum() / maestro.shape[0]) * 100

capital          0.0
latitud_dec      0.0
altitud          0.0
num_hab          0.0
zona_comarcal    0.0
longitud_dec     0.0
dtype: float64