In [1]:
import pandas as pd

import mysql # Para ver la versi칩n
import mysql.connector
import pymysql

**CREAR BASE DE DATOS**

In [3]:

database = "AEMET"

def crear_database(database, host = "localhost", user = "root", password = "password"):

    # Inicializar Connector
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contrase침a",
                                 database = None)
    
    # Iniciar Cursor
    cursor = db.cursor()
    
    # Creamos la BBDD con la setencia de SQL y usando la variable cursor
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    # Finalizar Cursor - Cierra el cursor
    cursor.close()
    
    # Finalizar Connector
    db.close()

In [4]:
crear_database(database, host = "localhost", user = "root", password = "password")

**CREAR TABLAS DENTRO DE LA BASE DE DATOS**

In [14]:
database = "AEMET"


def crear_tabla(nombre,database, host = "localhost", user = "root", password = "password"):

    db = mysql.connector.connect(host     = "localhost",
                             user     = "root",
                             password = "nueva_contrase침a",
                             database = database)

    cursor = db.cursor()
    
    crear_tabla_query =  f"""
    CREATE TABLE IF NOT EXISTS {nombre}(
        table_id SMALLINT UNSIGNED AUTO_INCREMENT,
        fecha DATE,
        indicativo VARCHAR (50),
        nombre VARCHAR (50), 
        provincia VARCHAR (50),
        altitud VARCHAR (50), 
        tmed VARCHAR (50), 
        prec VARCHAR (50),
        tmin VARCHAR (50),
        horatmin VARCHAR (50),
        tmax VARCHAR (50),
        horatmax VARCHAR (50),
        dir FLOAT,
        velmedia VARCHAR (50),
        racha VARCHAR (50),
        horaracha VARCHAR (50),
        presMax VARCHAR (50),
        horaPresMax VARCHAR (50), 
        presMin VARCHAR (50),
        horaPresMin VARCHAR (50),
        hrMedia FLOAT,
        hrMax FLOAT,
        horaHrMax VARCHAR (50),
        hrMin FLOAT,
        horaHrMin VARCHAR (50),
        sol VARCHAR (50),
        PRIMARY KEY (table_id) 
        )
        """
    cursor.execute(crear_tabla_query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [7]:
crear_tabla("vc_22",database, host = "localhost", user = "root", password = "password")
crear_tabla("vc_23",database, host = "localhost", user = "root", password = "password")
crear_tabla("vc_24",database, host = "localhost", user = "root", password = "password")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ': 0 VARCHAR (50),
        fecha DATE,
        indicativo VARCHAR (50),
        n' at line 3

In [ ]:
with open("valores_climatologicos_2024.csv", "r") as file:
    query = file.read()

In [ ]:
def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contrase침a",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [ ]:
database = "AEMET"


execute_query(query = query, database = database)

In [ ]:
with open("valores_climatologicos_2023.csv", "r") as file:
    query = file.read()

In [ ]:
database = "AEMET"

execute_query(query = query, database = database)