In [3]:
import pandas as pd

In [4]:
maestro = pd.read_csv("maestro municipios.csv")

maestro

,Unnamed: 0,latitud,id_old,url,latitud_dec,altitud,capital,num_hab,zona_comarcal,destacada,nombre,longitud_dec,id,longitud
0,0,"40º32'54.450744""",44004.0,ababuj-id44001,40.548459,1372,Ababuj,65,624401,0,Ababuj,-0.807801,id44001,"-0º48'28.084212"""
1,1,"40º54'58.824504""",40004.0,abades-id40001,40.916340,971,Abades,873,674001,0,Abades,-4.267874,id40001,"-4º16'4.346004"""
2,2,"43º8'51.525564""",48010.0,abadino-abadino-zelaieta-id48001,43.147646,144,Abadiño-Zelaieta,7504,754802,0,Abadiño,-2.606873,id48001,"-2º36'24.743484"""
3,3,"40º15'34.315272""",10004.0,abadia-id10001,40.259532,451,Abadía,324,701001,0,Abadía,-5.977858,id10001,"-5º58'40.289016"""
4,4,"43º21'46.874736""",27010.0,abadin-abadin-o-provecende-id27001,43.363021,515,Abadín o Provecende,2646,712702,0,Abadín,-7.472145,id27001,"-7º28'19.72182"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,8117,"41º33'18.670032""",8456.0,orrius-id08153,41.555186,255,Òrrius,690,690804,0,Òrrius,2.354940,id08153,"2º21'17.785224"""
8118,8118,"41º46'49.646784""",42570.0,olvega-id42134,41.780457,1030,Ólvega,3814,674201,1,Ólvega,-1.982666,id42134,"-1º58'57.597312"""
8119,8119,"36º54'4.3173""",18620.0,orgiva-id18147,36.901199,455,Órgiva,5393,611803,0,Órgiva,-3.423911,id18147,"-3º25'26.079168"""
8120,8120,"38º0'41.393628""",23860.0,ubeda-id23092,38.011498,750,Úbeda,35177,612303,1,Úbeda,-3.371192,id23092,"-3º22'16.28976"""
8121,8121,"42º37'9.701292""",9722.0,urbel-del-castillo-id09398,42.619361,943,Úrbel del Castillo,83,670901,0,Úrbel del Castillo,-3.844808,id09398,"-3º50'41.307036"""

In [5]:
maestro = maestro.drop(["id_old","url","destacada","Unnamed: 0","nombre", "latitud","longitud","id"], axis=1)

In [6]:
maestro.count()

latitud_dec      8122
altitud          8122
capital          8122
num_hab          8122
zona_comarcal    8122
longitud_dec     8122
dtype: int64

In [7]:
maestro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitud_dec    8122 non-null   float64
 1   altitud        8122 non-null   int64
 2   capital        8122 non-null   object
 3   num_hab        8122 non-null   int64
 4   zona_comarcal  8122 non-null   int64
 5   longitud_dec   8122 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 380.8+ KB

In [8]:
x = maestro.pop("capital")

maestro.insert(0, "capital", x)

In [9]:
maestro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122 entries, 0 to 8121
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   capital        8122 non-null   object
 1   latitud_dec    8122 non-null   float64
 2   altitud        8122 non-null   int64
 3   num_hab        8122 non-null   int64
 4   zona_comarcal  8122 non-null   int64
 5   longitud_dec   8122 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 380.8+ KB

In [10]:
maestro["altitud"] = maestro["altitud"].astype(float)

In [11]:
(maestro.isna().sum() / maestro.shape[0]) * 100

capital          0.0
latitud_dec      0.0
altitud          0.0
num_hab          0.0
zona_comarcal    0.0
longitud_dec     0.0
dtype: float64

In [35]:
maestro.to_csv("maestros limpieza2.csv")