In [4]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**CONTAMINACIÓN**

In [51]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlc3RlbGFtb2plbmFhdmlsYUBnbWFpbC5jb20iLCJqdGkiOiI4ODViYWY2Ni04YzdjLTQ2ZGItOGQ5YS0zNzliOTgxMjhkYTgiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcyOTU0NTcyMCwidXNlcklkIjoiODg1YmFmNjYtOGM3Yy00NmRiLThkOWEtMzc5Yjk4MTI4ZGE4Iiwicm9sZSI6IiJ9.sRepbZGfMU6aBkZq3VogpkYo7thIn5v1ojD8r07Zz8I"
headers = {"api_key": api_key}
url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/01"
response = requests.get(url_estacion, headers = headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/72c829e1',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/6235d58a'}

In [53]:
data = requests.get(response.json().get("datos")).text.split("\n")
data[0]

'31-10-2024 00:10 SO2(001): +00000.17 ug/m3 CV: V FC: 2.66 NO(007): +00000.09 ug/m3 CV: V FC: 1.248 NO2(008): +00001.15 ug/m3 CV: V FC: 1.91 O3(014): +00079.66 ug/m3 CV: V FC: 1.99 VEL(081): +00002.61 m/s CV: V FC: 1 DIR(082): +00135.18 GRA CV: V FC: 1 TEM(083): +00012.06 GC CV: V FC: 1 HUM(086): +00075.78 % CV: V FC: 1 PRE(087): +00911.00 hPa CV: V FC: 1 RAD(088): +00006.31 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [55]:
data[0][17:]

'SO2(001): +00000.17 ug/m3 CV: V FC: 2.66 NO(007): +00000.09 ug/m3 CV: V FC: 1.248 NO2(008): +00001.15 ug/m3 CV: V FC: 1.91 O3(014): +00079.66 ug/m3 CV: V FC: 1.99 VEL(081): +00002.61 m/s CV: V FC: 1 DIR(082): +00135.18 GRA CV: V FC: 1 TEM(083): +00012.06 GC CV: V FC: 1 HUM(086): +00075.78 % CV: V FC: 1 PRE(087): +00911.00 hPa CV: V FC: 1 RAD(088): +00006.31 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [57]:
dicc_data = {k : v for k, v in np.array(data[0][17:].split()).reshape(-1, 7)[:, :2]}
dicc_data["date"] = data[0][:17]
pd.json_normalize(dicc_data)

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date
0,+00000.17,+00000.09,+00001.15,+00079.66,+00002.61,+00135.18,+00012.06,+00075.78,+00911.00,+00006.31,+00000.00,+00000.00,31-10-2024 00:10

In [59]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZXRpZGllcnNtaXRAZ21haWwuY29tIiwianRpIjoiMmY4NmU2YTUtMTk1NS00YmM0LTkwMmQtODhmOTRiMDcxODhmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1MjkxNTAsInVzZXJJZCI6IjJmODZlNmE1LTE5NTUtNGJjNC05MDJkLTg4Zjk0YjA3MTg4ZiIsInJvbGUiOiIifQ.3jrUDCnvi4-ay89n1inJgfjvqI6rkqPwecpAdCGaTJI"
headers = {"api_key": api_key}

estaciones = ["11", "10", "09", "17", "14", "06", "08", "05", "16", "13", "01", "07", "12"]

df = pd.DataFrame()

for estacion in estaciones:
    url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/{estacion}"
    
    response = requests.get(url_estacion, headers = headers)
    
    data = requests.get(response.json().get("datos")).text.split("\n")
    
    def parsear_data(data, estacion):
    
        lista_dicc_data = list()
        
        for elemento in data:
            dicc_data = {k : v for k, v in np.array(elemento[17:].split()).reshape(-1, 7)[:, :2]}
            dicc_data["date"] = elemento[:17]
            lista_dicc_data.append(dicc_data)
            df_ = pd.json_normalize(lista_dicc_data)
            df_["estacion"] = estacion
    
        return df_
    
    df = pd.concat([df, parsear_data(data, estacion)], ignore_index = True)

df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,+00000.48,+00000.28,+00000.91,+00054.60,+00001.60,+00156.00,+00011.60,+00094.90,+00971.70,+00000.00,+00000.00,+00000.00,31-10-2024 00:10,11
1,+00000.43,+00000.15,+00000.73,+00059.31,+00001.80,+00152.00,+00011.60,+00094.70,+00971.60,+00000.00,+00000.00,+00000.00,31-10-2024 00:20,11
2,+00000.53,+00000.18,+00000.80,+00060.63,+00001.70,+00159.00,+00011.50,+00094.10,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:30,11
3,+00000.55,+00000.19,+00000.83,+00060.18,+00000.90,+00159.00,+00011.40,+00093.70,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:40,11
4,+00000.41,+00000.28,+00000.73,+00061.15,+00000.90,+00151.00,+00011.30,+00093.50,+00971.80,+00000.00,+00000.00,+00000.00,31-10-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,+00001.68,+00000.38,+00000.42,+00077.78,+00005.16,+00253.68,+00018.90,+00064.00,+00924.00,+00185.80,+00000.00,+00060.31,31-10-2024 14:30,12
1179,+00001.61,+00000.37,+00000.42,+00077.43,+00004.45,+00261.39,+00019.10,+00064.00,+00924.00,+00204.02,+00000.00,+00060.31,31-10-2024 14:40,12
1180,+00001.72,+00000.37,+00000.47,+00075.69,+00004.36,+00237.45,+00019.20,+00064.00,+00924.00,+00207.47,+00000.00,+00060.31,31-10-2024 14:50,12
1181,+00001.77,+00000.34,+00000.59,+00071.63,+00003.17,+00162.65,+00018.90,+00070.00,+00924.00,+00146.63,+00000.00,+00060.32,31-10-2024 15:00,12
1182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,12

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SO2(001):   1170 non-null   object
 1   NO(007):    1170 non-null   object
 2   NO2(008):   1170 non-null   object
 3   O3(014):    1170 non-null   object
 4   VEL(081):   1170 non-null   object
 5   DIR(082):   1170 non-null   object
 6   TEM(083):   1170 non-null   object
 7   HUM(086):   1170 non-null   object
 8   PRE(087):   1170 non-null   object
 9   RAD(088):   1170 non-null   object
 10  LLU(089):   1170 non-null   object
 11  PM10(010):  1170 non-null   object
 12  date        1183 non-null   object
 13  estacion    1183 non-null   object
dtypes: object(14)
memory usage: 129.5+ KB

In [71]:
df['SO2(001):'] = df['SO2(001):'].str.replace('+', '').astype(float)
df['NO(007):'] = df['NO(007):'].str.replace('+', '').astype(float)
df['NO2(008):'] = df['NO2(008):'].str.replace('+', '').astype(float)
df['O3(014):'] = df['O3(014):'].str.replace('+', '').astype(float)
df['VEL(081):'] = df['VEL(081):'].str.replace('+', '').astype(float)
df['DIR(082):'] = df['DIR(082):'].str.replace('+', '').astype(float)
df['TEM(083):'] = df['TEM(083):'].str.replace('+', '').astype(float)
df['HUM(086):'] = df['HUM(086):'].str.replace('+', '').astype(float)
df['PRE(087):'] = df['PRE(087):'].str.replace('+', '').astype(float)
df['RAD(088):'] = df['RAD(088):'].str.replace('+', '').astype(float)
df['LLU(089):'] = df['LLU(089):'].str.replace('+', '').astype(float)
df['PM10(010):'] = df['PM10(010):'].str.replace('+', '').astype(float)
df['estacion'] = df['estacion'].astype(int)

In [ ]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [77]:
df = df.drop(1182,axis=0)

In [80]:
(df.isna().sum() / df.shape[0]) * 100

SO2(001):     1.015228
NO(007):      1.015228
NO2(008):     1.015228
O3(014):      1.015228
VEL(081):     1.015228
DIR(082):     1.015228
TEM(083):     1.015228
HUM(086):     1.015228
PRE(087):     1.015228
RAD(088):     1.015228
LLU(089):     1.015228
PM10(010):    1.015228
date          0.000000
estacion      0.000000
dtype: float64

In [83]:
df.columns = [col.split('(')[0] for col in df.columns]

In [ ]:
df

In [87]:
df.to_csv("contaminacion.csv")