In [2]:
import pandas as pd

import mysql # Para ver la versión
import mysql.connector
import pymysql

**CREAR BASE DE DATOS**

In [4]:

database = "AEMET"

def crear_database(database, host = "localhost", user = "root", password = "password"):

    # Inicializar Connector
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = None)
    
    # Iniciar Cursor
    cursor = db.cursor()
    
    # Creamos la BBDD con la setencia de SQL y usando la variable cursor
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    # Finalizar Cursor - Cierra el cursor
    cursor.close()
    
    # Finalizar Connector
    db.close()

In [5]:
crear_database(database, host = "localhost", user = "root", password = "password")

**CREAR TABLAS DENTRO DE LA BASE DE DATOS**

In [7]:
with open("vc_22.txt", "r") as file:
    query = file.read()

In [8]:
database = "AEMET"

def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [9]:
execute_query(query = query, database = database)

In [10]:
with open("vc_23.txt", "r") as file:
    query = file.read()

In [11]:
execute_query(query = query, database = database)

In [12]:
with open("vc_24.txt", "r") as file:
    query = file.read()

In [13]:
execute_query(query = query, database = database)

In [14]:
with open("contaminacion.txt", "r") as file:
    query = file.read()

In [15]:
execute_query(query = query, database = database)

In [16]:
with open("maestro.txt", "r") as file:
    query = file.read()

In [17]:
execute_query(query = query, database = database)

**INSERTAR DATOS**

In [19]:
def insert_to_table(data, table, database, host = "localhost", user = "root", password = "nueva_contraseña"):
    
    db = mysql.connector.connect(host     = host,
                                 user     = user,
                                 password = password,
                                 database = database)
    cursor = db.cursor()

    # Seleccionamos las columnas de la tabla, omitiendo la Primary Key
    cursor.execute(f"SELECT * FROM {table} LIMIT 0;")
    column_names = cursor.column_names[1:]
    cursor.fetchall()

    insert_query = f"INSERT INTO {table} ({', '.join(column_names)}) VALUES ({', '.join(['%s' for _ in column_names])})".replace("'", "")
    values = [tuple(row) for row in data]

    # .executemany ejecuta el query de INSERT INTO con cada uno de los elementos de "values"
    cursor.executemany(insert_query, values)
    
    # Guarda los resultados
    db.commit()

    print(f"Añadidas: {cursor.rowcount} filas")

    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [20]:
data = pd.read_csv("maestro_limpieza.csv", index_col=0).values
table = "maestro"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 8122 filas

In [21]:
data = pd.read_csv("contaminacion.csv", index_col=0).values
table = "contaminacion"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'