In [2]:
import pandas as pd

import mysql # Para ver la versión
import mysql.connector
import pymysql

**CREAR BASE DE DATOS**

In [5]:

database = "AEMET"

def crear_database(database, host = "localhost", user = "root", password = "password"):

    # Inicializar Connector
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = None)
    
    # Iniciar Cursor
    cursor = db.cursor()
    
    # Creamos la BBDD con la setencia de SQL y usando la variable cursor
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    # Finalizar Cursor - Cierra el cursor
    cursor.close()
    
    # Finalizar Connector
    db.close()

In [7]:
crear_database(database, host = "localhost", user = "root", password = "password")

**CREAR TABLAS DENTRO DE LA BASE DE DATOS**

In [18]:
with open("vc_22.txt", "r") as file:
    query = file.read()

In [20]:
database = "AEMET"

def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [22]:
execute_query(query = query,database = database)

In [26]:
with open("vc_23.txt", "r") as file:
    query = file.read()

In [28]:
execute_query(query = query,database = database)

In [30]:
with open("vc_24.txt", "r") as file:
    query = file.read()

In [32]:
execute_query(query = query,database = database)

In [ ]:
with open("maestro.txt", "r") as file:
    query = file.read()

In [ ]:
execute_query(query = query,database = database)

In [ ]:
with open("contaminacion.txt", "r") as file:
    query = file.read()

In [ ]:
execute_query(query = query,database = database)

**POPULAR TABLAS**

In [ ]:
database = "AEMET"

def meter_csv(database, host="localhost", user="root",password="nueva_contraseña",database="database")

    # Conectar a la base de datos
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        password="nueva_contraseña",
        database="database"  # Reemplaza con el nombre de tu base de datos
    )
    
    cursor = db.cursor()
    
    # Ejemplo de instrucción SQL para insertar en la tabla
    sql = f"INSERT INTO {nombre_tabla} (nombre_columna) VALUES (%s)"
    val = ("valor_para_insertar",)  # Aquí se coloca el valor que quieres insertar
    
    # Ejecutar la consulta
    cursor.execute(sql, val)
    
    # Guardar los cambios
    db.commit()
    
    print(cursor.rowcount, "registro insertado.")
    
    # Cerrar el cursor y la conexión
    cursor.close()
    db.close()

In [ ]:
def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [ ]:
database = "AEMET"


execute_query(query = query, database = database)

In [ ]:
with open("valores_climatologicos_2023.csv", "r") as file:
    query = file.read()

In [ ]:
database = "AEMET"

execute_query(query = query, database = database)